html {
    font-family: 'Montserrat';
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-wrap: wrap;

    &__header {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        width: 100%;
        background: white;

        &-logo {
            font-size: 20px;
            font-weight: 600px;
            letter-spacing: 4px;
            margin-right: 36px;
        }
    }

    &__sidebar {
        height: calc(100vh - 60px);
        width: 35%;
        background: #F9FBFD;
    }

    &__content {
        height: calc(100vh - 60px);
        width: calc(65% - 32px);
        background: rgba(26, 134, 208, 0.2);
        padding: 16px;
    }
}